$red-text: #a50e0e;
$red-background: #c5221f;
$green-text: #137333;
$light-green-background: #e6f4ea;
$light-red-background: #fce8e6;
$icon-background: #fce8e6;
$primary-text: #202124;
$secondary-text: #3c4043;
$border: #dadce0;
$hover-background: #f8f9fa;